
    @for (user of users(); track  user) {      
        <mat-card class="card">
            <mat-card-content class="card-content">
               <span>{{user.name | titlecase | truncate:10}}</span> 
               <div class="actions">
                   <button  appErrorBtn matButton="filled" (click)="remove(user.id)">Remove</button>
                   <button   matButton="filled" (click)="edit(user)">Editar</button>
               </div>
            </mat-card-content>
        </mat-card>
    }
